/* MEDIA QUERIES */

@media only screen and (min-width: 990px) {
    #navHamburger {
        display: none;
    }

    .docNav {
        display: block;
    }
}

@media only screen and (max-width: 990px) {
    nav.docNav {
        display: none;
    }

    .wb-overlay {
        width: 90%;
    }
}

/* NAV STYLES */

#navHamburger {
    margin-left: 15px;
}

#wb-sec.wb-sec.pubs-nav {
    font-size: 16px;
    line-height: 1.4375;
}

/* HEADING STYLES */

p.subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12pt;
}



/* OVERLAY STYLES */

.wb-overlay {
   height: fit-content;
   width: 50%;
}

/* THUMBNAIL STYLES */

.recent .thumbnail img {
    max-height: 250px;
}

.active {
    background-color: #26374a !important;
    color: white !important;
}

/* Button css for left-hand nav */

.btn-submenu {
  width:15%;
  height:20px;
  background-color: transparent;
  border-color: transparent; 
  position:absolute;
  top:0px;
  right: 0px;
  height:100%;
  z-index: 150;
}

.lst-with-button {
    position: relative;   
}

/* Hover mouse on nav will revert the icon colors with buttons */

.lst-with-button:hover {
    color: white;   
}

button.btn-submenu:hover {
    background-color: #26374a !important;   
}

/* Focus on nav will revert icon colors with buttons */

button.btn-submenu:focus {
    background-color: #26374a !important;   
}

ul > li.sub-menu > ul > li.sub-menu > div > button {
    background-color: transparent;
}

.p2 {
  border-bottom: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}

.nav-well{
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}