.wb-overlay {
   height: fit-content;
   width: 50%;
}

.right {
    padding-left: 5px;
}

#navHamburger {
    margin-left: 15px;
}


@media only screen and (min-width: 990px) {
    #navHamburger {
        display: none;
    }
     #wb-sec {
         display: block;
     }
}

@media only screen and (max-width: 990px) {
    #wb-sec {
        display: none;
    }
    .wb-overlay {
        width: 90%;
    }
}

.recent .thumbnail img {
    max-height: 250px;

}

h2.subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12pt;
}