/* MEDIA QUERIES */

@media only screen and (min-width: 990px) {
    #navHamburger {
        display: none;
    }

    .docNav {
        display: block;
    }
}

@media only screen and (max-width: 990px) {
    nav.docNav {
        display: none;
    }

    .wb-overlay {
        width: 90%;
    }
}

/* NAV STYLES */

#navHamburger {
    margin-left: 15px;
}

#wb-sec.wb-sec.pubs-nav {
    font-size: 16px;
    line-height: 1.4375;
}

.right {
    padding-left: 5px;
}


/* HEADING STYLES */

p.subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12pt;
}

#h1HeaderTop {
    margin: 0.67em 0;
    line-height: 1.1;
    font-family: Lato, sans-serif;
    border-bottom-width: 0px;
    background-color: #fff;
    color: #555;
    margin-right: 20px;
    font-weight: inherit;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    font-size: 1.52em;
    margin-top: 15px;
    width: 66.66%;
    position: relative;
    min-height: 1px;
}

#wb-cont {
    margin-top: 0px;
}

/* OVERLAY STYLES */

.wb-overlay {
   height: fit-content;
   width: 50%;
}

/* THUMBNAIL STYLES */

.recent .thumbnail img {
    max-height: 250px;
}

.active {
    background-color: #26374a !important;
    color: white !important;
}
